.banner {
  position: relative;
  .heading {
    max-width: 663.09px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    margin-top: 181px;
    padding-left: 84px;

    h1 {
      margin-top: 0;
      font-size: 68.94px;
      font-family: "Ondo";
      text-transform: uppercase;
    }
    p {
      font-size: 18.72px;
      color: #fff;
      font-weight: 400;
    }
    .btns {
      margin-bottom: 30px;
    }
    .statsContainer {
      column-gap: 30px;
      display: flex;
      .stat {
        margin-bottom: 5px;
        font-weight: 800;
        font-size: 30px;
        color: #fff;
        text-align: center;
      }
    }
    .descr {
      font-size: 18.72px;
      font-weight: 400;
    }
  }

  .artboardCont {
    background-image: url("../../assets/board.png");
    background-color: #2d1e6b;
    background-blend-mode: color-dodge;
    height: 888px;
    background-size: auto;
    margin-top: -75px;
    background-repeat: no-repeat;
    // img {
    //   width: 100%;
    //   margin-top: -85px;
    // }
  }
}
