// Importing common styles
@use "../../common.scss";

// styling the banner
.banner {
  position: relative;
  overflow-x: clip;

  // styling heading
  .heading {
    max-width: 574.09px;
    color: #fff;
    position: absolute;
    z-index: 2;
    margin-top: 181px;
    padding-left: 84px;

    h1 {
      letter-spacing: 2px;
      font-weight: 800;
      line-height: 76.24px;
      margin-top: 0;
      font-size: 68.94px;
      font-family: "Ondo";
      margin-bottom: 20px;
      text-transform: uppercase;

      span {
        @extend .textBlend;
      }
    }

    p {
      margin: 0;
      margin-bottom: 38px;
      font-size: 16.72px;
      color: #fff;
      line-height: 30.64px;
      letter-spacing: 1px;
      font-weight: 400;
    }

    .btns {
      margin-bottom: 65px;
      display: flex;
      column-gap: 26px;
      padding-left: 3px;

      > button {
        width: 100%;
      }

      .buyNow {
        max-width: 205.07px;
      }

      .playNow {
        max-width: 203.07px;
      }
    }
    .statsContainer {
      column-gap: 30px;
      display: flex;
      .stat {
        margin-bottom: 5px;
        font-weight: 800;
        font-size: 30px;
        color: #fff;
        font-family: "Ondo", "sans-serif";
        line-height: 33.18px;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        column-gap: 2px;

        span {
          font-family: "Lato";
        }
      }

      .descr {
        font-size: 18.72px;
        font-weight: 400;
        line-height: 34.64px;
        letter-spacing: 1px;
      }

      .statBlend {
        @extend .textBlend;
        z-index: 1;
      }
    }
  }

  .artboardCont {
    background-image: url("../../assets/board.png");
    background-color: #2d1e6b;
    background-blend-mode: color-dodge;
    height: 888px;
    background-size: auto;
    margin-top: -91px;
    background-repeat: no-repeat;
  }

  .lineStrip {
    width: 110%;
    left: -87px;
    top: -37px;
  }

  .circle {
    @extend .shadowCircle;
  }
}
